<div class="modal" id="<%= event.id %>" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-4"><%= event.name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-dialog-scrollable">
        <time class="text-muted font-monospace d-block mb-3"><%= event_time(event) %></time>
        <%= event.description.html_safe %>
      </div>
      <div class="modal-footer">

        <% if event.website %>
          <%= link_to event.website, target: "_blank", class: "btn btn-secondary" do %>
            <i class="bi bi-box-arrow-up-right me-2"></i> Website
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>