<div class="modal" id="<%= event.id %>" tabindex="-1" data-filter-default="<%= event.filter_default %>" data-filter-param="<%= event.filter_param %>" data-format="<%= request.format.symbol %>" data-start-date="<%= event.start_time.to_date %>" data-controller="events" data-events-target="show">
  <div class="modal-dialog modal-dialog-centered modal-<%= size %>">
    <div class="modal-content">
      <div class="modal-header">
        <div>
          <h1 class="modal-title fs-4"><%= event.name %></h1>
          <% unless event.recurring %>
            <time class="text-muted font-monospace me-2"><%= event_time(event) %></time>
          <% else %>
            <time class="text-muted font-monospace me-2"><%= event.written_interval %></time>
          <% end %>
          <%= tags(event) %>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body modal-dialog-scrollable">
        <div class="mt-2">
          <%= event.description.html_safe %>
        </div>
      </div>
      <div class="modal-footer">

        <% if event.website %>
          <%= link_to event.website, target: "_blank", class: "btn btn-secondary" do %>
            <i class="bi bi-box-arrow-up-right me-2"></i> Website
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>