<%= month_calendar(events: @epochs) do |date, epochs| %>
  <div class="calendar calendar-month card shadow bg-gradient-secondary">
    <div class="card-header position-relative px-2">
      <time datetime="<%= date %>" class="font-monospace"><%= l(date, format: :short) %></time>
      <div class="clipboard" data-controller="clipboard" data-clipboard-success-content-value="Copied!">
        <span class="d-none visually-hidden" data-clipboard-target="source"><%= request.original_url.split("#").first + "##{date}" %></span>
        <a href="#<%= date %>" data-action="clipboard#copy" data-clipboard-target="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11.35 3.836c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 00.75-.75 2.25 2.25 0 00-.1-.664m-5.8 0A2.251 2.251 0 0113.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m8.9-4.414c.376.023.75.05 1.124.08 1.131.094 1.976 1.057 1.976 2.192V16.5A2.25 2.25 0 0118 18.75h-2.25m-7.5-10.5H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V18.75m-7.5-10.5h6.375c.621 0 1.125.504 1.125 1.125v9.375m-8.25-3l1.5 1.5 3-3.75"></path>
          </svg>
        </a>
      </div>
    </div>

    <ul class="list-group list-group-flush">
      <% epochs.each_with_index do |epoch, idx| %>
        <%= tag.li class: "list-group-item position-relative p-2 pb-3", data: { start_time: epoch.start_time.to_i, end_time: epoch.end_time.to_i } do %>
          <% if idx > 0 %>
            <i class="bi bi-chevron-double-down epoch-transition position-absolute start-50 top-0 bg-body translate-middle px-3"></i>
          <% end %>

          <div class="<%= "mt-3" if idx > 0 %>">
            <%= epoch.name %>
            <a href="javascript:void()" class="ms-1" data-controller="popper" data-popper-target="popover" data-bs-title="<%= epoch.name %>" data-bs-content="<%= epoch_description(epoch, time_range: true, slot: false) %>">
              <i class="bi bi-info-circle"></i>
            </a>
          </div>

          <ul class="list-group list-group-flush">
            <% epoch.events.select { |e| (e.start_time.to_date..e.end_time.to_date).include?(date) }.each do |event| %>
              <li class="event list-group-item px-0 py-3">
                <small>
                  <div class="d-flex">
                    <time class="pt-1 me-auto text-muted font-monospace"><%= event_time(event) %></time>
                    <div><%= tags(event) %></div>
                  </div>
                </small>

                <%= tag.div event.name, class: "my-2" %>

                <div class="d-flex">
                  <% if event.description.present? %>
                    <%= link_to event_path(name: event.urlname, id: event.id), class: "me-auto", data: { turbo_stream: true } do %>
                      <i class="bi bi-info-circle"></i>
                    <% end %>
                  <% end %>

                  <% if event.website.present? %>
                    <%= link_to event.website, target: "_blank" do %>
                      <i class="bi bi-box-arrow-up-right"></i>
                    <% end %>
                  <% end %>
                </div>

              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>

  </div>
<% end %>