<div class="calendar-heading fs-3 mb-5 text-center">
  <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title px-3"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time>

  <nav class="btn-group" role="group">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "btn btn-md btn-primary" %>
    <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "btn btn-md btn-primary" %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "btn btn-md btn-primary" %>

    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
      <i class="bi bi-toggles2"></i>
    </button>
  </nav>
</div>

<%= render "offcanvas" %>
