<div class="calendar-heading fs-3 mb-5 text-center">
  <time datetime="<%= start_date.strftime('%Y-%m') %>" class="calendar-title px-3"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></time>

  <nav class="btn-group" role="group">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view, class: "btn btn-md btn-primary" %>
    <%= link_to t('simple_calendar.today', default: 'Today'), calendar.url_for_today_view, class: "btn btn-md btn-primary" %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view, class: "btn btn-md btn-primary" %>

    <div class="filter dropdown btn-group">
      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
        Filter
      </button>
      <ul class="dropdown-menu">
        <li>
          <% if @filter[:epochs] == "false" %>
            <%= link_to events_path(permitted_params.deep_merge(filter: {epochs: true})), class: "dropdown-item" do %>
              <i class="bi-toggle-off"></i> Epochs
            <% end %>
          <% else %>
            <%= link_to events_path(permitted_params.deep_merge(filter: {epochs: false})), class: "dropdown-item" do %>
              <i class="bi-toggle-on"></i> Epochs
            <% end %>
          <% end %>
        </li>
        <li>
          <% if @filter[:hardforks] == "false" %>
            <%= link_to events_path(permitted_params.deep_merge(filter: {hardforks: true})), class: "dropdown-item" do %>
              <i class="bi-toggle-off"></i> Hard forks
            <% end %>
          <% else %>
            <%= link_to events_path(permitted_params.deep_merge(filter: {hardforks: false})), class: "dropdown-item" do %>
              <i class="bi-toggle-on"></i> Hard forks
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </nav>
</div>