<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel"></h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <div class="container">
      <div class="row align-items-start">

        <div class="col">
          <div class="list-group list-group-horizontal text-center">
            <%= link_to events_path(permitted_params.merge(view: :month)), class: "list-group-item list-group-item-action #{'active bg-secondary border-secondary' if current_view == 'month'}" do %>
              <i class="bi-calendar-month me-1"></i> Month
            <% end %>
            <%= link_to events_path(permitted_params.merge(view: :week)), class: "list-group-item list-group-item-action #{'active bg-secondary border-secondary' if current_view == 'week'}" do %>
              <i class="bi-calendar-week me-1"></i> Week
            <% end %>
            <%= link_to events_path(permitted_params.merge(view: :list)), class: "list-group-item list-group-item-action #{'active bg-secondary border-secondary' if current_view == 'list'}" do %>
              <i class="bi-list-ul me-1"></i> List
            <% end %>
          </div>
        </div>

        <div class="col-12 pt-5">

          <div class="accordion accordion-flush" id="event_filter">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter_chain_events" aria-expanded="false" aria-controls="filter_chain_events">
                  Chain Events
                </button>
              </h2>
              <div id="filter_chain_events" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#event_filter">
                <div class="accordion-body">
                  <%= simple_event_filters %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter_meetup_events" aria-expanded="false" aria-controls="filter_meetup_events">
                  Meetups
                </button>
              </h2>
              <div id="filter_meetup_events" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#event_filter">
                <div class="accordion-body">
                  <%= meetup_event_filters %>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#filter_stake_pool_operators" aria-expanded="false" aria-controls="filter_stake_pool_operators">
                  Stake Pool Operators
                </button>
              </h2>
              <div id="filter_stake_pool_operators" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#event_filter">
                <div class="accordion-body">
                  <% if @filter["leaderlog-check"].blank? || @filter["leaderlog-check"] == "off" %>
                    <%= link_to events_path(permitted_params.deep_merge(filter: {"leaderlog-check" => "on"})), class: "list-group-item list-group-item-action" do %>
                      <i class="bi-toggle-off me-2"></i> Leaderlogs
                    <% end %>
                  <% else %>
                    <%= link_to events_path(permitted_params.deep_merge(filter: {"leaderlog-check" => "off"})), class: "list-group-item list-group-item-action" do %>
                      <i class="bi-toggle-on me-2"></i> Leaderlogs
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="row pt-5">
        <div class="col">
          <h5>Sync Cardano events directly to your calendar app</h5>

          <p>With our customizable calendar subscription via the iCalendar (<a href="https://en.wikipedia.org/wiki/ICalendar", target="_blank">ICS</a>) format, you can effortlessly integrate and stay up-to-date with Cardano, for free!</p>

          <%= link_to events_url(permitted_params.merge(protocol: :webcal, format: :ics)), class: "d-block btn btn-success", target: "_blank" do %>
            <i class="bi-calendar2-plus me-1"></i> Subscribe
          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>


