<%= week_calendar(events: @epochs) do |date, epochs| %>
  <div class="calendar calendar-week card shadow bg-gradient-secondary">
    <div class="card-header position-relative px-2">
      <time datetime="<%= date %>" class="font-monospace"><%= l(date, format: :short) %></time>
    </div>

    <ul class="list-group list-group-flush">
      <% epochs.each_with_index do |epoch, idx| %>
        <%= tag.li class: "list-group-item position-relative p-2", data: { start_time: epoch.start_time.to_i, end_time: epoch.end_time.to_i } do %>
          <% if idx > 0 %>
            <i class="bi bi-chevron-double-down epoch-transition position-absolute start-50 top-0 bg-body translate-middle px-3"></i>
          <% end %>

          <span>
            <%= epoch.name %>
            <a href="javascript:void()" class="ms-1" data-bs-toggle="popover" data-bs-title="<%= epoch.name %>" data-bs-content="<%= epoch_description(epoch) %>">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
              </svg>
            </a>
          </span>

          <ul class="list-group list-group-flush">
            <% epoch.events.select { |e| (e.start_time.to_date..e.end_time.to_date).include?(date) }.each do |event| %>
              <li class="event list-group-item px-0 py-3">
                <small>
                  <% if event.start_time == event.end_time %>
                    <time class="me-2 text-muted font-monospace d-block"><%= l(event.start_time.to_time, format: :short) %></time>
                  <% elsif event.start_time.day == event.end_time.day %>
                    <time class="me-2 text-muted font-monospace d-block"><%= l(event.start_time.to_time, format: :short) %> – <%= l(event.end_time.to_time, format: :time) %></time>
                  <% else %>
                    <time class="me-2 text-muted font-monospace d-block"><%= l(event.start_time.to_time, format: :short) %> – <%= l(event.end_time.to_time, format: :short) %></time>
                  <% end %>
                  <span><%= event.name %></span>
                </small>
                <% unless event.description.blank? %>
                  <a href="javascript:void()" class="ps-1" data-bs-toggle="popover" data-bs-title="<%= event.name %>" data-bs-content="<%= event.description %>">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                      <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                    </svg>
                  </a>
                <% end %>
              </li>
            <% end %>
          </ul>
        <% end %>
      <% end %>
    </ul>

  </div>
<% end %>